flows/PullRequestStepsAutomation.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Non_ApprovedRecords_Count</name>
        <label>Non ApprovedRecords Count</label>
        <locationX>704</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>CountOfPromotedUserStories</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopOverThePromotedUserStories</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOverThePromotedUserStories</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Checking_for_PR_Step</name>
        <label>Checking for PR Step</label>
        <locationX>814</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>LoopOverTheSteps</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PR_Step_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopOverTheSteps.copado__Automated_Behaviour__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pull Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Promotion_Record</targetReference>
            </connector>
            <label>PR Step Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Count_Greater_Than_Zero_or_Less_Than_Zero</name>
        <label>Count Greater Than Zero or Less Than Zero</label>
        <locationX>616</locationX>
        <locationY>1355</locationY>
        <defaultConnector>
            <targetReference>Update_Deployment_job_with_Success</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Greater_Than_Zero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountOfPromotedUserStories</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Deployment_job_with_failed</targetReference>
            </connector>
            <label>Greater Than Zero</label>
        </rules>
    </decisions>
    <decisions>
        <name>UserStory_PR_True_Or_False</name>
        <label>UserStory PR True Or False</label>
        <locationX>836</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>LoopOverThePromotedUserStories</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopOverThePromotedUserStories.copado__User_Story__r.copado__Pull_Requests_Approved__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Non_ApprovedRecords_Count</targetReference>
            </connector>
            <label>False</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>PullRequestStepsAutomation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PullRequestStepsAutomation</label>
    <loops>
        <name>LoopOverThePromotedUserStories</name>
        <label>LoopOverThePromotedUserStories</label>
        <locationX>616</locationX>
        <locationY>863</locationY>
        <collectionReference>Get_Promoted_User_Stories</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>UserStory_PR_True_Or_False</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Count_Greater_Than_Zero_or_Less_Than_Zero</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopOverTheSteps</name>
        <label>LoopOverTheSteps</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_Depeloyment_Steps</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Checking_for_PR_Step</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Depeloyment_Steps</name>
        <label>Get Depeloyment Steps</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopOverTheSteps</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__Deployment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>copado__Step__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Promoted_User_Stories</name>
        <label>Get Promoted User Stories</label>
        <locationX>616</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopOverThePromotedUserStories</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__Promotion__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Promotion_Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>copado__Promoted_User_Story__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Promotion_Record</name>
        <label>Get Promotion Record</label>
        <locationX>616</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Promoted_User_Stories</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoopOverTheSteps.copado__Deployment__r.copado__Promotion__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>copado__Promotion__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_Deployment_job_with_failed</name>
        <label>update Deployment job with failed</label>
        <locationX>484</locationX>
        <locationY>1463</locationY>
        <connector>
            <targetReference>LoopOverTheSteps</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__Step__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoopOverTheSteps.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>copado__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In progress</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>copado__Status__c</field>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </inputAssignments>
        <object>copado__Deployment_Job__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Deployment_job_with_Success</name>
        <label>Update Deployment job with Success</label>
        <locationX>748</locationX>
        <locationY>1463</locationY>
        <connector>
            <targetReference>LoopOverTheSteps</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__Step__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoopOverTheSteps.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>copado__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In progress</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>copado__Status__c</field>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </inputAssignments>
        <object>copado__Deployment_Job__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Depeloyment_Steps</targetReference>
        </connector>
        <object>copado__Deployment__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>CountOfPromotedUserStories</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>copado__Promoted_User_Story__c</objectType>
    </variables>
    <variables>
        <name>ListOfPromotedUseries</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>copado__Promoted_User_Story__c</objectType>
    </variables>
    <variables>
        <name>PromotionRecordVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>copado__Promotion__c</objectType>
    </variables>
</Flow>
