flows/QualityGate_SCA_Automation_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Run_SCA</name>
        <label>Run SCA</label>
        <locationX>864</locationX>
        <locationY>1187</locationY>
        <actionName>copado__RunUserStoryStaticCodeAnalysis</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SCA_Record</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orgId</name>
            <value>
                <elementReference>Run_SCA_IF_US_has_ApexCalss.copado__User_Story__r.copado__Environment__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>storyId</name>
            <value>
                <elementReference>Run_SCA_IF_US_has_ApexCalss.copado__User_Story__r.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>copado__RunUserStoryStaticCodeAnalysis</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Count_SCA_Result</name>
        <label>Count SCA Result</label>
        <locationX>567</locationX>
        <locationY>1079</locationY>
        <defaultConnector>
            <targetReference>Run_SCA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Count_Equals_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SCA_Result</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Priority_Check</targetReference>
            </connector>
            <label>Count Equals 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>MetadataType_Check</name>
        <label>MetadataType Check</label>
        <locationX>968</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Run_SCA_IF_US_has_ApexCalss</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_ApexClass</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Run_SCA_IF_US_has_ApexCalss.copado__User_Story__r.copado__Metadata_Types_in_Selection__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ApexClass</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SCA_Result</targetReference>
            </connector>
            <label>If ApexClass</label>
        </rules>
    </decisions>
    <decisions>
        <name>Priority_Check</name>
        <label>Priority Check</label>
        <locationX>270</locationX>
        <locationY>1187</locationY>
        <defaultConnector>
            <targetReference>update_deployment_job_with_success</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Priority_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SCA_Result.copado__Highest_Priority_Violation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_deployment_job_with_failed</targetReference>
            </connector>
            <label>If Priority 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Priority_Check_1</name>
        <label>Priority Check 1</label>
        <locationX>864</locationX>
        <locationY>1403</locationY>
        <defaultConnector>
            <targetReference>Priority_Check_1_After_run_SCA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Priority_equals_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SCA_Record.copado__Highest_Priority_Violation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_deployment_job_with_failed_After_Run_SCA</targetReference>
            </connector>
            <label>If Priority equals 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Priority_Check_1_After_run_SCA</name>
        <label>Priority Check 1 After run SCA</label>
        <locationX>1062</locationX>
        <locationY>1511</locationY>
        <defaultConnector>
            <targetReference>Run_SCA_IF_US_has_ApexCalss</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Priority_equals_1_after_Run_SCA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SCA_Record.copado__Highest_Priority_Violation__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_deployment_job_with_success_after_run_SCA</targetReference>
            </connector>
            <label>If Priority equals 1 after Run SCA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Step_Count</name>
        <label>Step Count</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_SCA_Step_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Static_code_step</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Promotion_Record</targetReference>
            </connector>
            <label>If SCA Step Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>QualityGate SCA Automation Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>QualityGate SCA Automation Flow</label>
    <loops>
        <name>Run_SCA_IF_US_has_ApexCalss</name>
        <label>Run SCA IF US has ApexCalss</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <collectionReference>PromotedUserStories</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>MetadataType_Check</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>PromotedUserStories</name>
        <label>PromotedUserStories</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Run_SCA_IF_US_has_ApexCalss</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__Promotion__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Promotion_Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>copado__Promoted_User_Story__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Promotion_Record</name>
        <label>Promotion Record</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PromotedUserStories</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.copado__Promotion__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>copado__Promotion__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SCA_Record</name>
        <label>SCA Record</label>
        <locationX>864</locationX>
        <locationY>1295</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Priority_Check_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__User_Story__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Run_SCA_IF_US_has_ApexCalss.copado__User_Story__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>copado__Static_Code_Analysis_Result__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SCA_Result</name>
        <label>SCA Result</label>
        <locationX>567</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_SCA_Result</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__User_Story__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Run_SCA_IF_US_has_ApexCalss.copado__User_Story__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>copado__Static_Code_Analysis_Result__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Static_code_step</name>
        <label>Static code step</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Step_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__Deployment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Static Code Analysis</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>copado__Step__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_deployment_job_with_failed</name>
        <label>update deployment job with failed</label>
        <locationX>138</locationX>
        <locationY>1295</locationY>
        <connector>
            <targetReference>Run_SCA_IF_US_has_ApexCalss</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__Step__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Static_code_step.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>copado__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In progress</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>copado__Status__c</field>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </inputAssignments>
        <object>copado__Deployment_Job__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_deployment_job_with_failed_After_Run_SCA</name>
        <label>update deployment job with failed After Run SCA</label>
        <locationX>666</locationX>
        <locationY>1511</locationY>
        <connector>
            <targetReference>Run_SCA_IF_US_has_ApexCalss</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__Step__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Static_code_step.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>copado__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In progress</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>copado__Status__c</field>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </inputAssignments>
        <object>copado__Deployment_Job__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_deployment_job_with_success</name>
        <label>update deployment job with success</label>
        <locationX>402</locationX>
        <locationY>1295</locationY>
        <connector>
            <targetReference>Run_SCA_IF_US_has_ApexCalss</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__Step__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Static_code_step.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>copado__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In progress</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>copado__Status__c</field>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </inputAssignments>
        <object>copado__Deployment_Job__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_deployment_job_with_success_after_run_SCA</name>
        <label>update deployment job with success after run SCA</label>
        <locationX>930</locationX>
        <locationY>1619</locationY>
        <connector>
            <targetReference>Run_SCA_IF_US_has_ApexCalss</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__Step__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Static_code_step.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>copado__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In progress</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>copado__Status__c</field>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </inputAssignments>
        <object>copado__Deployment_Job__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Static_code_step</targetReference>
        </connector>
        <object>copado__Deployment__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
