flows/RSCA_Automation.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Run_Apex</name>
        <label>Run Apex</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <actionName>copado__RunUserStoryTests</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>userStoryId</name>
            <value>
                <elementReference>$Record.copado__User_Story__r.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>copado__RunUserStoryTests</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Run_CH</name>
        <label>Run CH</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <actionName>copado__RunUserStoryTests</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>userStoryId</name>
            <value>
                <elementReference>$Record.copado__User_Story__r.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>copado__RunUserStoryTests</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Run_SCA</name>
        <label>Run SCA</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>copado__RunUserStoryStaticCodeAnalysis</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Run_Apex</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orgId</name>
            <value>
                <elementReference>$Organization.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>storyId</name>
            <value>
                <elementReference>$Record.copado__User_Story__r.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>copado__RunUserStoryStaticCodeAnalysis</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Check_MetaData_Type</name>
        <label>Check MetaData Type</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Run_CH</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Apex?</defaultConnectorLabel>
        <rules>
            <name>Is_Apex</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.copado__User_Story__r.copado__Metadata_Types_in_Selection__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>ApexClass</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Run_SCA</targetReference>
            </connector>
            <label>Is Apex?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>RSCA Automation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RSCA Automation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_MetaData_Type</targetReference>
        </connector>
        <object>copado__User_Story_Commit__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
